.Contact
    padding 0 0 30px 0
    display grid
    grid-template-columns repeat(1, 1fr)
    grid-gap 10px
.ContactForm
    input
        width 100%
        box-sizing border-box
        border 2px solid #6c63ff
        padding 0.8rem 1rem
        border-radius 7px
        margin-bottom 0.5rem
        transition 0.3s
    input::placeholder 
        color: #a7a7a7
    textarea
        width 100%
        box-sizing border-box
        border 2px solid #6c63ff
        padding 0.8rem 1rem
        border-radius 7px
        margin-bottom 0.5rem
        transition 0.3s
    textarea::placeholder 
        color: #a7a7a7
.Submit
    background-color $button-color
    border none
    color white
    padding 15px 32px
    text-align center
    text-decoration none
    display inline-block
@media only screen and (min-width 800px) 
    .Contact
        display grid
        grid-template-columns repeat(2, 1fr)
        grid-gap 10px
@media only screen and (min-width 1201px) 
    .Contact
        width 1200px
        display grid
        grid-template-columns repeat(2, 1fr)
        grid-gap 10px
        margin-left: auto;
        margin-right: auto;