@import './Variables.styl'
@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900');
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

*
  text-decoration none
  list-style none
body
  margin 0 0 0 0
  font-family $font-family
  font-size $font-size
  background-color  $background-color
  display flex
  flex-direction column
.Main  
  margin-left: 20px;
  margin-right: 20px;
.Wrapper
    margin 0 0 0 0
    padding-bottom 4rem
    background-image url('../../assets/illustrations/overlay.svg')
    background-size contain
    background-position right top
    background-repeat no-repeat
    z-index 1
#toggle 
    display none
@media only screen and (min-width 440px) and (max-width 1201px) 
  .Wrapper
    background-size: 70%;
  .Main  
    margin-left: 50px;
    margin-right: 50px;
@media only screen and (min-width 600px) and (max-width 900px) 
  body
    font-size $font-size-medium
@media only screen and (min-width 1201px) 
  body
    font-size $font-size-big  
  Main
    width 1200px
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size $font-size-big
  .Wrapper
      background-size: 50%;