@import './Variables.styl'

.Skills
    padding 25px 0 80px 0
    &-container
        display grid
        grid-template-columns repeat(1, 1fr)
        grid-gap 10px
    &-details
        display flex
        flex-direction column
        align-self center
        button
            width 200px
            background-color $button-color
            border none
            color white
            padding 15px 32px
            text-align center
            text-decoration none
            display inline-block
    &-grid
        display grid
        grid-template-columns repeat(2, 1fr)
        grid-gap 5px
        padding 0 0 50px 0
        &-skill
            display grid
            grid-template-columns 30% 70%
            grid-gap 5px
            justify-content center
            align-items center           
            img 
                width 50px
                height 50px
                object-fit: cover;
        &-description 
            justify-content left 

@media only screen and (min-width 800px) 
    .Skills
        &-container
            display grid
            grid-template-columns repeat(2, 1fr)
            grid-gap 10px
@media only screen and (min-width 1201px) 
    .Skills
        width 1200px
        display: block;
        margin-left: auto;
        margin-right: auto;

 