$font-family = 'Roboto, Helvetica, sans-serif'

$font-size-burguer = 25px
$background-color = #FFFFFF
$background-menu = #EEEEEE
$background-search = #EEEEEE
$grey-color = #666666
$text-color = #000000
$button-color = #D1D634
$button-color-secondary = #DFE438

$font-size = 13px

