$font-family = 'Roboto, Helvetica, sans-serif'

$font-size-burguer = 25px
$background-menu = #EEEEEE
$background-search = #EEEEEE
$grey-color = #666666
$button-color = rgb(0, 116, 217)
$button-color-secondary = #DFE438


$font-size = 13px
$width-gallery = 280px
$height-gallery = 180px
$font-size-search = 15px
/*
* Medium Sizes
*/
$font-size-medium = 15px
$width-gallery-medium =  448px
$height-gallery-medium = 288px
$font-size-search-medium = 16px
/*
* Big Sizes
*/
$font-size-big = 23px
$width-gallery-big = 560px
$height-gallery-big = 360px
$font-size-search-big = 23px

